<div class="left"></div>
<div class="right"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-block text-xs-left">
          <h4 class="card-title"></h4>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="numberOfQuestions">How Many Questions?</label>
                <select class="form-control" name="numberOfQuestions" id="numberOfQuestions">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>15</option>
            </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="category">Which Category?</label>
                <select class="form-control" name="category" id="category">
              <option>Hodgepodge Pickles</option>
              <option>General Knowledge</option>
              <option>Entertainment: Film</option>
              <option>Entertainment: Music</option>
              <option>Entertainment: Musicals & Theatres</option>
              <option>Entertainment: Television</option>
              <option>Entertainment: Video Games</option>
              <option>Entertainment: Board Games</option>
              <option>Science & Nature</option>
              <option>Science: Computers</option>
              <option>Science: Mathematics</option>
              <option>Mythology</option>
              <option>Sports</option>
              <option>Geography</option>
              <option>History</option>
              <option>Politics</option>
              <option>Art</option>
              <option>Celebrities</option>
              <option>Animals</option>
            </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="difficulty">Difficulty?</label>
                <select class="form-control" name="difficulty" id="difficulty">
              <option>easy</option>
              <option>medium</option>
              <option>hard</option>
              <option>various</option>
            </select>
              </div>
            </div>
          </div>
          <button id="startGame" type="button" class="btn btn-block btn-primary">Start Game</button>
        </div>
      </div>

      <div class="card">
        <div class="card-block text-xs-left">
          <h2 class="card-title text-center" id='phoneNumber'>Text your name to: (704) 343-8423</h2>
          <div id="playerBox">

          </div>
        </div>
      </div>

    </div>
  </div>
</div>