<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-block text-xs-left">
          <h4 class="card-title">Quiz Demo</h4>
          <div class="form-group">
            <label for="numberOfQuestions">How Many Questions?</label>
            <select class="form-control" name="numberOfQuestions" id="numberOfQuestions">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>15</option>
            </select>
          </div>
          <div class="form-group">
            <label for="category">Which Category?</label>
            <select class="form-control" name="category" id="category">
              <option>Hodgepodge Pickles</option>
              <option>General Knowledge</option>
              <option>Entertainment: Film</option>
              <option>Entertainment: Music</option>
              <option>Entertainment: Musicals & Theatres</option>
              <option>Entertainment: Television</option>
              <option>Entertainment: Video Games</option>
              <option>Entertainment: Board Games</option>
              <option>Science & Nature</option>
              <option>Science: Computers</option>
              <option>Science: Mathematics</option>
              <option>Mythology</option>
              <option>Sports</option>
              <option>Geography</option>
              <option>History</option>
              <option>Politics</option>
              <option>Art</option>
              <option>Celebrities</option>
              <option>Animals</option>
            </select>
          </div>
          <a href="/question"><button id="startGame" type="button" class="btn btn-primary">Start Game</button></a>
        </div>
      </div>

      <div class="card">
        <div class="card-block text-xs-left">
          <h4 class="card-title">Players</h4>
          <div id="playerBox">

          </div>
        </div>
      </div>

    </div>
  </div>
</div>