<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-block text-xs-left">
          <div id="questionBox"></div>
          <button id='seeResults' type="button" class="btn btn-primary">See results</button>
        </div>
      </div>

      <div class="card">
        <div class="card-block text-xs-left">
          <h4 class="card-title">Who has guessed?</h4>
          <div id="answersBox">
            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>