<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="card">
        <div class="card-block text-xs-left">
          <div id="resultsBox"></div>
          <button id='nextQuestion' type="button" class="btn btn-primary">Next Question</button>
        </div>
      </div>

      <div class="card">
        <div class="card-block text-xs-left">
          <h4 class="card-title">Leaderboard</h4>
          <div id="leaderBox">
            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>