@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
body {
  font-family: "Roboto Condensed", sans-serif;
  background: url("../images/stage2.jpg");
  background-size: cover;
}

#body4 {
  background: url("../images/fireworks.gif");
  background-size: cover;
  color: white;
  text-align: center;
  vertical-align: center;
}
.card {
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.88);
  color: white;
  border: 3px solid white;
  vertical-align: center;
}

#phoneNumber{
  font-size: 3rem;
}

#answerList {
  font-size: 37px;
}
#playerName {
  display: inline;
}
#winnerBox {
  text-align: center;
  margin-top: 100px 0px;
}

#winnerBox h1{
  font-size: 104px;
  -webkit-text-stroke: 4px white;
  color: rgba(0,0,0,0);
}

#rank{
  font-family: serif;
  font-size: 20px;
}